################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nopCommerce-release-4.60.0/upgradescripts
